[Desktop Entry]
Name=OpenWave
Comment=Elgato Wave Control for Linux
Exec=openwave --hide
Icon=openwave
Type=Application
Categories=AudioVideo;Audio;Mixer;
Terminal=false
