[Desktop Entry]
Name=OpenWave
Comment=Elgato Wave Control for Linux
Exec=openwave
Icon=openwave
Type=Application
Categories=AudioVideo;Audio;Mixer;
Terminal=false
