[Desktop Entry]
Name=OpenWave
Comment=Elgato Wave XLR Control for Linux
Exec=python3 -m wavexlr
Icon=audio-input-microphone
Type=Application
Categories=Audio;Settings;
